.trusted{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)), url(../images/b3.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;   
    border: 1px solid transparent;

    .trusted__list{
        margin: 7rem 0 7rem 0;

        .trusted__item{
            >h1{
                @include styleText(3rem, $fw-3, #fff);
                line-height: 3.6rem;
            }
            >p{
                @include styleText(1.6rem, $fw-1, #fff);
                line-height: 2.45rem;
                margin: 2rem 0 3.5rem 0;
            }
            >a{
                @include styleText(1.4rem, $fw-3, #000);
                @include styleButton(#fff, 1.5rem, 2.5rem, none, 5px);
                display: inline-block;
                transition: all 0.3s;
                &:hover{
                    background-color: $color-white;
                }
            }
        }
    }
}
